/netcoreapp2.2
.suo
storage.ide-shm
storage.ide-wal
DocumentManagement.csproj.nuget.cache
DocumentManagement.csproj.nuget.dgspec.json
DocumentManagement.csproj.nuget.g.props
DocumentManagement.csproj.nuget.g.targets
project.assets.json